*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  // &.modal-open {
  //   overflow: hidden;
  // }
  &.menu-open {
    overflow: hidden;
  }
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.section-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
