:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --hover-btn-color: #188ce8;
  --dark-bg-color: #2f303a;
  --portfolio-btn-color: #f5f4fa;
  --icon-primary-color: #afb1b8;
  --footer-social-bg-color: rgba(255, 255, 255, 0.1);

  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
